@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.light {
  .post_main.with_error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 100%;
  }
  .page_not_found {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .page_not_found::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(5px);
    margin: -20px;
  }
  .post_main {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    background-image: linear-gradient(to right, #7F7FD5 , #86A8E7,#91EAE4);
    min-height: 88vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .posts {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 30px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    .posts::before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
      filter: blur(5px);
      margin: -20px;
    }
    .id {
      display: flex;
      justify-content: space-between;
    }
    .id,
    .post_title,
    .comment_body {
      margin-bottom: 10px;
    }

    span:nth-child(odd) {
      font-weight: bold;
      margin-right: 2px;
      font-size: 18px;
    }
    .link_div {
      display: flex;
      justify-content: flex-end;
    }
    .link {
      color: rgb(51, 174, 196);
      font-family: cursive;
    }
  }
}

.dark {
  .page_not_found {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .page_not_found::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(94, 92, 92, 0.5);
    filter: blur(5px);
    margin: -20px;
  }
  .post_main.with_error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 100%;
  }
  .post_main {
    font-family: "Source Sans Pro", sans-serif;
    color: #cfdac8;
    background-image: linear-gradient(to right, #000000 , #434343);
    height: 100%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .posts {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 30px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    .posts::before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(94, 92, 92, 0.5);
      filter: blur(5px);
      margin: -20px;
    }
    .id {
      display: flex;
      justify-content: space-between;
    }
    .id,
    .post_title,
    .post_body {
      margin-bottom: 10px;
    }

    span:nth-child(odd) {
      font-weight: bold;
      margin-right: 2px;
      font-size: 18px;
    }
    .link_div {
      display: flex;
      justify-content: flex-end;
    }
    .link {
      color: pink;
      font-family: cursive;
    }
  }
}
@media only screen and (max-width: 830px) {
  .posts {
    width: 90% !important;
  }
}
