.light {
  .ArrowBack {
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    margin-top: 10px;
  }
  .single_post_main {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    background-image: linear-gradient(to right, #7F7FD5 , #86A8E7,#91EAE4);
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;

    .post {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 30px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    .post::before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
      filter: blur(5px);
      margin: -20px;
    }
    .id {
      display: flex;
      justify-content: space-between;
    }
    .id,
    .post_title,
    .post_body {
      margin-bottom: 10px;
    }

    span:nth-child(odd) {
      font-weight: bold;
      margin-right: 2px;
      font-size: 16px;
    }
    .comment_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
    .comments {
      width: 80%;
      border: 1px dotted #433d3c;
      margin-bottom: 20px;
      padding: 10px;
    }
    .sender_details {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .name {
      text-decoration: underline;
    }
    .by {
      margin-bottom: 10px;
    }
  }
}
.dark {
  .single_post_main {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    color: #cfdac8;
    background-image: linear-gradient(to right, #000000 , #434343);
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;

    .post {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 30px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    .post::before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(94, 92, 92, 0.5);
      filter: blur(5px);
      margin: -20px;
    }
    .id {
      display: flex;
      justify-content: space-between;
    }
    .id,
    .post_title,
    .post_body {
      margin-bottom: 10px;
    }

    span:nth-child(odd) {
      font-weight: bold;
      margin-right: 2px;
      font-size: 16px;
    }
    .comment_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
    .comments {
      width: 80%;
      border: 1px dotted #cfdac8;
      margin-bottom: 20px;
      padding: 10px;
    }
    .sender_details {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .name {
      text-decoration: underline;
    }
    .by {
      margin-bottom: 10px;
    }
  }
  .ArrowBack {
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #cfdac8;
    text-align: center;
  }
}
@media only screen and (max-width: 830px) {
  .post {
    width: 90% !important;
  }
}
